:root {
  --background-color: #ffffff;
  --text-color: #24292f;
  --link-color: rgb(162, 162, 162);
  --card-background: #f6f8fa;
  --link-hover-background: #0969da;
  --profile-name-color: #24292f;
  --location-color: #57606a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1117;
    --text-color: #c9d1d9;
    --link-color: rgb(162, 162, 162);
    --card-background: #161b22;
    --link-hover-background: #1f6feb;
    --profile-name-color: #ffffff;
    --location-color: #8b949e;
  }
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  border-radius: 15px;
  padding: 40px 20px;
  width: 400px;
  transition: background-color 0.3s ease;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profile-name {
  font-size: 1.8rem;
  margin: 0 0 5px 0;
  color: var(--profile-name-color);
}

.profile-location {
  font-size: 0.9rem;
  color: var(--location-color);
  margin: 0;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  margin: 0;
  object-fit: cover;
}

.profile-info {
  text-align: left;
}

.profile-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-link {
  padding: 5px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 0.08rem solid var(--link-color);
}

.profile-link i {
  color: var(--link-color);
  font-size: 1.2rem;
}

.profile-links-row {
  display: flex;
  flex-direction: row;
  gap: 7px;
}